<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net452" />
  <package id="System.Drawing.Common" version="4.7.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
</packages>